game_engine/
build/
build
*.vcxproj
build/CMakeCache.txt
build/CMakeFiles/CMakeOutput.log
build/ALL_BUILD.vcxproj
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/GameEngine.sln
build/ZERO_CHECK.vcxproj
